<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fakturaxl>
            <general>
                <api_endpoint>https://program.fakturaxl.pl/api/dokument_dodaj.php</api_endpoint>
                <api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <imie_nazwisko_wystawcy>Marek Wójtowicz</imie_nazwisko_wystawcy>
                <wyslij_dokument_do_klienta_emailem>0</wyslij_dokument_do_klienta_emailem>
            </general>
        </fakturaxl>
    </default>
</config>
