<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magento_LowestPrice::lowest_price" title="Lowest Price" module="Magento_LowestPrice" sortOrder="10" parent="Magento_Catalog::catalog" action="magento_lowest_price/lowestprice" resource="Magento_LowestPrice::lowest_price"/>
    </menu>
</config>
