<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="magento_lowest_price" frontName="magento_lowest_price">
            <module name="Magento_LowestPrice" />
        </route>
    </router>
</config>
