<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="fakturaxl" translate="label" sortOrder="200">
            <label>FakturaXL</label>
        </tab>
        <section id="fakturaxl" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>FakturaXL Api</label>
            <tab>fakturaxl</tab>
            <resource>Magento_LowestPrice::config_fakturaxl</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>API Settings</label>
                <field id="api_endpoint" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API Endpoint</label>
                </field>
                <field id="api_key" translate="label" type="obscure" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="imie_nazwisko_wystawcy" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Imię i nazwisko wystawcy</label>
                </field>
                <field id="wyslij_dokument_do_klienta_emailem" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Wyślij dokument do klienta e-mailem</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
